<div ng-controller='topicsController'>
	<div class="col-xs-10 col-xs-offset-1">
		<div class="col-xs-offset-8 col-sm-offset-10">
			<a href="#/dashboard">Dashboard</a>
			<a href="#/">Logout</a>	
		</div> 
	</div>		
	<div class="col-xs-10 col-xs-offset-1">
		<p class='col-xs-12'>{{ topic.created_by }} posted a topic</p>
		<label class='col-xs-offset-1 col-xs-10'>{{ topic.topic }}</label>	
		<p class='col-xs-offset-1 col-xs-10'>{{ topic.description }}</p>
		<p class='col-xs-12'>Post your answer here:</p>	
		<!-- Message Form -->
		<form class='form'>
			<div class="form-group col-xs-offset-1 col-xs-10">
				<textarea class='form-control' placeholder='Answer here' ng-model='newMessage.content'></textarea>
			</div>
			<div class="form-group col-xs-offset-1 col-xs-10 bottom_border">
				<button class='btn btn-primary right' ng-click='addMessage()'>Post</button>
			</div>
			<div class="col-xs-10 col-xs-offset-1">
				<hr> <!-- line break -->
			</div>
		</form>
		<!-- Like & Dislike Form -->
		<div class="col-xs-10 col-xs-offset-1" ng-repeat='message in topic._messages'>
			<div class="col-xs-10"><a href="">{{ message.created_by }} </a>{{ message.content }}</div>
			<div class="col-xs-2">
				<form> 
					{{ message.likes }} <button class='btn btn-success' ng-click="addLike({topic_id:topic._id, message_id:message._id})">&uarr;</button>
					{{ message.dislikes }} <button class='btn btn-danger' ng-click="addDislike({topic_id:topic._id, message_id:message._id})">&darr;</button>
				</form>
			</div>
			<!-- Comments Form -->
				<!-- Below is the form for submitting a comment   still in the implementation process  -->

			<div class="col-xs-offset-1 col-xs-11" >
				<div>
					<a href="" ng-repeat='comment in message._comments'>Name: </a>person's comment
				</div>
				<form class='form'>
					<div class="form-group">
						<textarea type='text' class='form-control' ng-model='newComment.content'></textarea>
					</div>
					<div class="form-group right">
						<button class='btn btn-default' ng-click='addComment()'>Comment</button>
					</div>
				</form>
			</div>
			<div class="form-group col-xs-11 col-xs-offset-1"><hr></div>
		</div>
	</div>
</div>