.login_container {
	margin-top: 80px;
}
.search_field, .right {float: right;}
.test {
	background-color: rgba(250,0,0,.3); 
	border: 1px solid black;
}
hr {border: 1px solid black;}
/*.bottom_border {border-bottom: 1px solid black;}*/
